.container {
    display: grid;
    place-items: center;
  }
  
  .table {
    border: 1px solid rgb(17, 150, 17);
    width:90%;
    height: 450px;
    margin-bottom: 50px;
    border-radius: 10px;
  }
  
  td {
    padding-left: 70px;
  }
  
  .tableBold {
    font-size: 20px;
    font-weight: 700;
  }
  
  input {
    border: 1px solid green;
    border-radius: 5px;
    width: 70%;
  }